
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      width: 100%;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #ffc107;
    }
    .active:hover {
      background-color: #ff9d00;
    }
    .danger {
      background-color: rgb(2, 173, 36);
    }
    </style>
    </head>
    <body>
    
    <ul>
      <li><a href="/">ICKURL</a></li>
      <li style="float:right"><a class="active" href="/auth">Login</a></li>
      <li style="float:right"><a class="danger" href="/register">Register</a></li>

    </ul>
    
    
    
    
    