<!DOCTYPE html>
<html lang="en">
    <%- include('header', {NOW_TITLE:"REGISTER", OG_TITLE:"LOGIN",OG_DESC:"Forever free url shortener for your sharing | Made with love by ICKDEV", OG_URL:"https://sl.iamickdev.com", OG_IMG:"https://cdn.discordapp.com/attachments/885089951207804949/907257498069794856/Ickstaycoding.png" }) %>
<body  class="dark">
    <style>
        h1,h2,p {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=password] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=submit] {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            width: 50%;
        }
        #register {
            background-color: #ffc107;
            border: none;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            width: 50%;
        }
    </style>
    <%- include('header_guest')%>
    <h1>Welcome to ICKURL</h1>
    <h2>Register to manage shorten url</h>
    <p>Enter username and password to Register</p>
    <div class="formStyle">
    <form action="/createuser" id="regisForm" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password here!">
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password again!">

        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAHb0iP60h_mGmIG" data-callback="turnstileCallback"></div>
        <input id="register_but" type="submit" value="Register" hidden>
        
    </form>
        <a href="/auth">Already have an account? Login here!</a>
    </div>
    <%-include('footer')%>
    <script>
        let isVerified = false;
        let pwMatched = false;
        const turnstileCallback = function(token) {
            isVerified = true;
            if(pwMatched){
                document.getElementById('register_but').hidden = false;
            }
        };


        const regisForm = document.getElementById('regisForm');
        regisForm.addEventListener('submit', (e)=>{
            e.preventDefault();
            if(!isVerified){
                Swal.fire({
                    icon: 'error',
                    title: 'Register Failed',
                    text: 'Please verify you are not a robot',
                    confirmButtonText: 'OK'
                })
                return;
            }
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirm_password = document.getElementById('confirm_password').value;
            if(password != confirm_password){
                Swal.fire({
                    icon: 'error',
                    title: 'Register Failed',
                    text: 'Password and confirm password does not match',
                    confirmButtonText: 'OK'
                })
                return;
            }
            if(username == '' || password == ''){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please fill in all the field!',
                })
            }else{
                Swal.fire({
                    title: 'Please wait',
                    html: 'We are registering your account',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    },
                })
                $.ajax({
                    url: '/createuser',
                    type: 'POST',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function(res){
                        if(res.status == 'success'){
                            Swal.fire({
                                icon: 'success',
                                title: 'Login success',
                                text: 'Redirecting you to login',
                                didOpen: () => {
                                    Swal.showLoading()
                                },
                            })
                            setTimeout(()=>{
                                window.location.href = '/auth';
                            }, 2000)
                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.msg,
                            })
                        }
                    }
                })
            }
        })

        document.getElementById("confirm_password").addEventListener("keyup", ()=>{
            var p = document.getElementById("password");
            var cp = document.getElementById("confirm_password");
            var but = document.getElementById("register_but");
            if(p.value==cp.value){
                p.style.borderColor = "green";
                cp.style.borderColor = "green";
                pwMatched = true;
                if(isVerified){
                    but.hidden = false;
                }else{
                    but.hidden = true
                }
            }else{
                p.style.borderColor = "red";
                cp.style.borderColor = "red";
                pwMatched = false;
                but.hidden = true;
            }
        })
    </script>
</body>
</html>