<!DOCTYPE html>
<html lang="en">
<%- include('header', {NOW_TITLE:'REGISTER'}) %>
<body>
    <style>
        h1,p {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=password] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=button] {
            background-color: #4CAF50;
            border: none;
            width: 50%;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        a{
            color:black;
            text-decoration: underline;
        }
    </style>
    <h1>Register to manage shorten url</h1>
    <p>Enter username and password to Register</p>
    <div>
    <form id="regisform" action="/createuser" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="password">Confirm Password</label>
        <input type="password" name="password_confirm" id="password_confirm">
        <input type="button" value="Register" onclick="submit()" id="register_but" hidden>
    </form>
    <p><a href="/login">Already have an account, Login?</a></p>
</div>
    <script>
        //check password and confirm password is match if not match outline of input box will be red
        document.getElementById("password_confirm").addEventListener("keyup", ()=>{
            var p = document.getElementById("password");
            var cp = document.getElementById("password_confirm");
            var but = document.getElementById("register_but");
            if(p.value==cp.value){
                p.style.borderColor = "green";
                cp.style.borderColor = "green";
                but.hidden = false;
            }else{
                p.style.borderColor = "red";
                cp.style.borderColor = "red";
                but.hidden = true
            }
        })
    </script>
</body>
</html>