<!DOCTYPE html>
<html lang="en">
    <%- include('header', {NOW_TITLE:"REGISTER", OG_TITLE:"REGISTER",OG_DESC:"Forever free url shortener for your sharing | Made with love by ICKDEV", OG_URL:"https://sl.iamickdev.com", OG_IMG:"https://cdn.discordapp.com/attachments/885089951207804949/907257498069794856/Ickstaycoding.png" }) %>
<body>
    <style>
        h1,p {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type=text] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=password] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=button] {
            background-color: #4CAF50;
            border: none;
            width: 50%;
            color: white;
            padding: 5px 10px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
        a{
            color:black;
            text-decoration: underline;
        }
    </style>
    <%-include('header_guest')%>
    <h1>Register to manage shorten url</h1>
    <p>Enter username and password to Register</p>
    <div>
    <form id="regisform" action="/createuser" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="password">Confirm Password</label>
        <input type="password" name="password_confirm" id="password_confirm">
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAHb0iP60h_mGmIG"></div>
        <input type="button" value="Register" onclick="submit()" id="register_but" hidden>
    </form>
    <p><a href="/login">Already have an account, Login?</a></p>
</div>
<%-include('footer')%>
    <script>
        //submit form
        document.getElementById("regisform").addEventListener("submit", (e)=>{
            e.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            const password_confirm = document.getElementById("password_confirm").value;
            if(password==password_confirm){
                $.ajax({
                    url: "/createuser",
                    type: "POST",
                    data: {
                        username: username,
                        password: password
                    },
                    success: function(data){
                        if(data=="success"){
                            Swal.fire({
                                icon: 'success',
                                title: 'Register Success',
                                text: 'You can login now',
                                confirmButtonText: 'OK'
                            }).then((result)=>{
                                if(result.isConfirmed){
                                    window.location.href = "/auth";
                                }
                            })
                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Register Failed',
                                text: data.msg,
                                confirmButtonText: 'Try again!'
                            })
                        }
                    }
                })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Register Failed',
                    text: 'Password and Confirm Password not match',
                    confirmButtonText: 'OK'
                })
            }
        });
        //check password and confirm password is match if not match outline of input box will be red
        document.getElementById("password_confirm").addEventListener("keyup", ()=>{
            var p = document.getElementById("password");
            var cp = document.getElementById("password_confirm");
            var but = document.getElementById("register_but");
            if(p.value==cp.value){
                p.style.borderColor = "green";
                cp.style.borderColor = "green";
                but.hidden = false;
            }else{
                p.style.borderColor = "red";
                cp.style.borderColor = "red";
                but.hidden = true
            }
        })
    </script>
</body>
</html>